In [1]:
import pandas as pd

In [2]:
from IPython.display import display, HTML

In [3]:
expl = pd.read_csv('Variable_explanations.csv', index_col='name')

In [4]:
expl.head(10)

                                                        detail
name
surveyid                                 Individual Identifier
village                                     Village Identifier
survey_date  Date of Interview (days since Jan1 of first year)
femaleres                                    Female respondent
age                                           Age (respondent)
married                            Marital status (respondent)
children                                    Number of children
hhsize                                          Household size
edu                  Years of education completed (respondent)
hh_children    Number of children <=18 or younger in Household

In [5]:
variables = ''.join([f'<p><b>{label}</b></p>{row.detail}<br>' for label, row in expl.iterrows()])

In [6]:
HTML(variables)

In [7]:
expl['ignore'] = False

In [8]:
expl.loc[expl.index.str.endswith('mpesa'), 'ignore'] = True
expl.loc[['village', 'surveyid', 'survey_date', 'early_survey'], 'ignore'] = True

In [9]:
expl[expl['ignore'] == False]

,detail,ignore
name,,
femaleres,Female respondent,False
age,Age (respondent),False
married,Marital status (respondent),False
children,Number of children,False
hhsize,Household size,False
edu,Years of education completed (respondent),False
hh_children,Number of children <=18 or younger in Household,False
hh_totalmembers,Household size,False
cons_nondurable,Non-durable expenditure (USD),False
asset_livestock,Value of livestock (USD),False
asset_durable,Value of durable goods (USD),False
asset_phone,Value of cell phone (USD),False
asset_savings,Value of savings (USD),False
asset_land_owned_total,Land owned (acres),False
asset_niceroof,Has non-thatched roof (dummy),False
cons_allfood,Food total (USD),False
cons_ownfood,Food own production (USD),False
cons_alcohol,Alcohol (USD),False
cons_tobacco,Tobacco (USD),False
cons_med_total,Medical expenditure past month (USD),False
cons_med_children,"Medical expenditure, children (USD)",False
cons_ed,Education expenditure (USD),False
cons_social,Social expenditure (USD),False
cons_other,Other expenditure (USD),False
ent_wagelabor,Wage labor primary income (dummy),False
ent_ownfarm,Own farm primary income (dummy),False
ent_business,Non-ag business primary income (dummy),False
ent_nonagbusiness,Non-agricultural business owner (dummy),False
ent_employees,Number of employees working in non-ag business,False
ent_nonag_revenue,"Non-ag business revenue, monthly (USD)",False
...,...,...
ent_total_cost,"Total expenses, monthly (USD)",False
fs_adskipm_often,"Meals skipped (adults, \# last month)",False
fs_adwholed_often,"Whole days without food (adults, \# last month)",False
fs_chskipm_often,"Meals skipped (children, \# last month)",False
fs_chwholed_often,"Whole days without food (children, \# last month)",False
fs_meat,Number of times ate meat or fish (last week),False
fs_enoughtom,Enough food in the house for tomorrow? (dummy),False
fs_sleephun,"Respondent slept hungry (last week, dummy)",False
med_expenses_hh_ep,"Medical expenses per episode, entire HH (USD)",False
med_expenses_sp_ep,"Medical expenses per episode, spouses (USD)",False
med_expenses_child_ep,"Medical expenses per episode, children (USD)",False
med_portion_sickinjured,Proportion of household sick/injured (1 month),False
med_port_sick_child,Proportion of children sick/injured (1 month),False
med_afford_port,Proportion of sick/injured who could afford tr...,False
med_sickdays_hhave,Average number of sick days per HH member,False
med_healthconsult,Propotion of illnesses where doctor was consulted,False
med_vacc_newborns,Number of newborns vaccinated,False
med_child_check,Proportion of children <14 getting checkup (6 ...,False
med_u5_deaths,Proportion of children <5 who died (1 year),False
ed_expenses,Education expenditure past month (USD),False
ed_expenses_perkid,Education expenditure per child past month (USD),False
ed_schoolattend,Proportion of school-aged children in school,False
ed_sch_missedpc,School days missed past month (per child),False
ed_work_act_pc,Income-generating activities per school-age ch...,False
labor_primary,Casual or Wage Labor Primary Source of Income,False
wage_expenditures,Expenditure on wages for HH enterprise,False
durable_investment,Durable Investments,False
nondurable_investment,Non-durable Investments,False
depressed,Meets epidemiological threshold for moderate d...,False
day_of_week,Day of week of survey (0=Sunday),False

In [10]:
expl['dummy'] = False
expl.head()

                                                        detail  ignore  dummy
name
surveyid                                 Individual Identifier    True  False
village                                     Village Identifier    True  False
survey_date  Date of Interview (days since Jan1 of first year)    True  False
femaleres                                    Female respondent   False  False
age                                           Age (respondent)   False  False

In [11]:
expl.loc[['femaleres', 'married', 'day_of_week'], 'dummy'] = True

In [12]:
selection = expl['detail'].str.contains('dummy')
selection.tail()

name
saved_mpesa           False
amount_saved_mpesa    False
early_survey           True
depressed              True
day_of_week           False
Name: detail, dtype: bool

In [13]:
expl['target'] = False
expl.loc['depressed', 'target'] = True

In [14]:
expl[expl['target']]

,detail,ignore,dummy,target
name,,,,
depressed,Meets epidemiological threshold for moderate d...,False,False,True

In [15]:
expl.to_csv('variables.csv')

In [16]:
variables = pd.read_csv('variables.csv')

In [17]:
variables.dtypes

name      object
detail    object
ignore      bool
dummy       bool
target      bool
dtype: object

In [18]:
relevant_columns = variables['name'][~variables['ignore']]
category_columns = variables['name'][variables['dummy']]
target_column = variables['name'][variables['target']].squeeze()

In [19]:
target_column

'depressed'

In [20]:
df = pd.read_csv('train.csv', usecols=relevant_columns)

In [21]:
missing = df.isna().any()

In [22]:
df.loc[:, missing]

,hh_totalmembers,cons_alcohol,cons_tobacco,cons_med_children,fs_chskipm_often,fs_chwholed_often,fs_meat,fs_enoughtom,fs_sleephun,med_expenses_hh_ep,...,med_port_sick_child,med_afford_port,med_sickdays_hhave,med_healthconsult,med_u5_deaths,ed_expenses,ed_expenses_perkid,ed_schoolattend,ed_sch_missedpc,ed_work_act_pc
0,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,0.000000,0.000000,0.960922,0.0,0.0,3.0,1.0,1.0,NaN,...,0.000000,NaN,0.000000,NaN,NaN,20.179367,10.089684,0.500000,1.500000,0.000000
4,6.0,0.000000,0.000000,0.800768,0.0,0.0,2.0,0.0,0.0,NaN,...,0.250000,0.500000,1.166667,1.000000,NaN,27.226130,6.806532,0.750000,1.750000,1.250000
5,8.0,NaN,5.582501,0.000000,7.5,0.0,1.0,1.0,1.0,1.601537,...,0.000000,1.000000,0.875000,0.000000,NaN,32.030739,6.406148,0.800000,0.000000,1.500000
6,3.0,0.000000,0.000000,0.160154,20.0,0.0,1.0,0.0,1.0,0.053385,...,1.000000,0.333333,0.000000,0.000000,NaN,6.406148,6.406148,1.000000,0.000000,1.000000
7,4.0,0.000000,0.000000,0.000000,0.0,0.0,4.0,1.0,0.0,0.800768,...,0.500000,1.000000,0.250000,1.000000,NaN,34.272892,17.136446,0.500000,0.000000,NaN
8,9.0,0.000000,0.000000,0.000000,3.0,0.0,4.0,1.0,0.0,NaN,...,0.142857,1.000000,0.111111,0.000000,NaN,181.614290,30.269049,0.666667,0.166667,1.000000
9,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,3.0,0.000000,0.000000,0.000000,0.0,0.0,3.0,0.0,0.0,5.605380,...,0.500000,0.500000,5.666666,0.500000,NaN,168.161390,84.080696,1.000000,3.500000,1.000000
12,6.0,0.000000,0.000000,23.222286,3.0,0.0,4.0,0.0,1.0,10.249837,...,1.000000,1.000000,1.833333,1.000000,NaN,89.686073,29.895357,1.000000,0.666667,0.333333
13,6.0,0.000000,4.884688,0.000000,0.0,0.0,4.0,1.0,0.0,NaN,...,0.500000,0.500000,0.166667,0.000000,NaN,80.076851,26.692284,0.666667,0.000000,0.000000
14,2.0,0.000000,0.000000,NaN,NaN,NaN,3.0,1.0,0.0,2.802690,...,NaN,1.000000,5.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
15,5.0,0.000000,NaN,0.000000,3.0,0.0,7.0,0.0,0.0,1.681614,...,0.500000,1.000000,1.400000,1.000000,NaN,0.000000,0.000000,0.000000,0.000000,NaN
16,5.0,0.000000,0.000000,0.000000,0.0,0.0,4.0,1.0,0.0,NaN,...,0.666667,1.000000,2.200000,0.666667,NaN,0.000000,0.000000,1.000000,2.500000,0.500000
17,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,4.0,0.000000,0.000000,0.000000,0.0,0.0,1.0,0.0,1.0,NaN,...,0.000000,NaN,0.000000,NaN,NaN,12.652143,6.326071,1.000000,0.000000,0.000000
20,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,1.0,0.000000,4.884688,NaN,NaN,NaN,3.0,0.0,1.0,2.562459,...,NaN,1.000000,6.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
22,5.0,0.000000,0.000000,6.085841,3.0,0.0,3.0,0.0,0.0,2.178090,...,1.000000,0.400000,1.800000,0.400000,0.5,31.870586,10.623528,1.000000,2.000000,1.000000
23,9.0,0.000000,0.000000,0.000000,1.0,0.0,6.0,1.0,0.0,1.521460,...,0.000000,0.500000,1.888889,1.000000,NaN,148.942950,37.235737,1.000000,0.000000,2.000000
24,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,5.0,0.000000,0.000000,0.000000,0.0,0.0,5.0,0.0,0.0,NaN,...,0.000000,1.000000,0.600000,1.000000,NaN,16.015369,5.338457,0.333333,0.000000,0.000000
26,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,5.0,0.000000,0.000000,0.000000,0.0,0.0,2.0,0.0,1.0,NaN,...,0.000000,NaN,0.000000,NaN,1.0,57.655331,19.218445,1.000000,0.000000,0.666667
28,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1113,4.0,0.000000,0.000000,0.000000,7.5,0.0,0.0,0.0,1.0,1.201153,...,0.333333,0.500000,0.000000,0.000000,NaN,3.203074,1.601537,1.000000,0.500000,0.000000
1114,11.0,34.890629,20.934376,0.000000,7.5,0.0,7.0,0.0,0.0,NaN,...,0.000000,0.000000,0.000000,0.000000,NaN,269.058230,38.436890,0.571429,0.000000,1.333333
1115,7.0,27.912502,0.000000,0.000000,0.0,0.0,4.0,0.0,0.0,0.827461,...,0.800000,0.833333,0.285714,0.333333,NaN,89.686073,22.421518,0.750000,0.500000,1.666667
1116,4.0,0.000000,0.000000,6.406148,3.0,0.0,4.0,0.0,1.0,26.024977,...,1.000000,0.750000,8.250000,1.000000,NaN,40.358734,20.179367,0.500000,2.500000,0.000000
1117,4.0,0.000000,0.000000,4.003842,0.0,0.0,3.0,0.0,0.0,NaN,...,1.000000,1.000000,0.000000,1.000000,NaN,14.413833,14.413833,1.000000,0.000000,0.000000
1118,5.0,3.489063,6.699000,0.000000,0.0,0.0,7.0,1.0,0.0,1.601537,...,0.333333,1.000000,1.400000,1.000000,NaN,6.406148,3.203074,0.500000,1.000000,0.000000
1119,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1120,8.0,0.000000,0.000000,0.000000,20.0,0.0,3.0,0.0,0.0,3.283151,...,0.400000,1.000000,1.250000,0.250000,NaN,19.218445,3.843689,0.800000,0.600000,0.750000
1121,8.0,0.000000,0.000000,0.000000,20.0,0.0,4.0,0.0,1.0,0.640615,...,0.166667,0.666667,0.000000,0.333333,NaN,41.639961,8.327992,0.800000,0.000000,2.000000
1122,4.0,0.000000,2.930813,0.000000,0.0,0.0,1.0,0.0,0.0,NaN,...,0.000000,NaN,0.000000,NaN,NaN,0.000000,0.000000,0.000000,0.000000,NaN
1123,4.0,0.000000,0.000000,0.320307,7.5,0.0,1.0,0.0,1.0,NaN,...,0.500000,1.000000,0.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
1124,4.0,NaN,NaN,0.000000,0.0,0.0,14.0,1.0,0.0,NaN,...,0.000000,1.000000,2.500000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
1125,7.0,0.000000,0.000000,0.000000,0.0,0.0,1.0,0.0,0.0,NaN,...,0.000000,NaN,0.000000,NaN,NaN,0.000000,0.000000,1.000000,0.000000,0.250000
1126,5.0,0.000000,0.000000,0.000000,7.5,0.0,3.0,1.0,0.0,2.001921,...,0.333333,1.000000,1.400000,1.000000,NaN,21.460596,10.730298,1.000000,0.000000,0.000000
1127,2.0,0.000000,0.000000,NaN,NaN,NaN,7.0,1.0,0.0,0.640615,...,NaN,1.000000,0.000000,0.500000,NaN,NaN,NaN,NaN,NaN,NaN
1128,2.0,0.000000,0.000000,0.000000,0.0,0.0,5.0,1.0,0.0,8.808454,...,1.000000,1.000000,18.500000,0.500000,NaN,0.000000,0.000000,1.000000,7.000000,NaN
1129,2.0,0.000000,0.000000,NaN,NaN,NaN,0.0,1.0,0.0,0.800768,...,NaN,1.000000,1.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN
1130,7.0,NaN,4.884688,0.000000,1.0,0.0,1.0,0.0,1.0,1.201153,...,0.000000,0.500000,1.428572,0.000000,NaN,17.296600,5.765533,1.000000,2.000000,0.666667
1131,4.0,0.000000,0.000000,0.000000,0.0,0.0,4.0,0.0,0.0,0.600576,...,1.000000,1.000000,0.000000,0.250000,NaN,0.000000,0.000000,0.000000,0.000000,NaN
1132,7.0,0.000000,0.000000,0.000000,0.0,0.0,2.0,0.0,0.0,0.854153,...,0.400000,1.000000,0.428571,1.000000,NaN,480.461090,96.092216,0.800000,0.400000,0.500000
1133,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1134,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1135,3.0,0.000000,0.000000,0.000000,0.0,0.0,0.0,1.0,0.0,NaN,...,1.000000,1.000000,1.333333,1.000000,0.5,NaN,NaN,NaN,NaN,NaN
1136,3.0,0.000000,0.000000,0.000000,0.0,0.0,2.0,1.0,0.0,NaN,...,1.000000,0.500000,2.333333,0.500000,NaN,28.827665,14.413833,1.000000,3.500000,0.000000
1137,3.0,0.000000,0.000000,2.402306,0.0,0.0,2.0,0.0,0.0,NaN,...,1.000000,1.000000,0.000000,1.000000,NaN,0.000000,0.000000,0.000000,0.000000,NaN
1138,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1139,2.0,20.934376,4.186875,NaN,NaN,NaN,1.0,0.0,0.0,4.003842,...,NaN,1.000000,3.500000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN
1140,7.0,0.000000,0.000000,0.000000,0.0,0.0,4.0,1.0,0.0,NaN,...,0.400000,1.000000,0.714286,1.000000,NaN,35.073662,8.768415,0.750000,0.500000,0.000000
1141,NaN,0.000000,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1142,4.0,0.000000,0.000000,NaN,NaN,NaN,1.0,1.0,0.0,10.249837,...,NaN,1.000000,7.000000,1.000000,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
variables[variables['name'].isin(['hhsize', 'hhtotalmembers'])]

     name          detail  ignore  dummy  target
7  hhsize  Household size   False  False   False

In [24]:
all((df['hhsize'] == df['hh_totalmembers']) ^ df['hh_totalmembers'].isna()) == True

True

In [25]:
df.drop(columns='hh_totalmembers', inplace=True)

In [26]:
def missing_stats(dataframe, grouping):
    na_columns = dataframe.isna().any()
    na_subframe = dataframe.loc[:, na_columns]
    
    def na(series): return series.isna().sum() / len(series)
    def zero(series): return (series == 0).sum() / len(series)
    def both(series): return na(series) + zero(series)
    
    grouped = na_subframe.groupby(dataframe[grouping])
    aggregated = grouped.agg([na, zero, both])
    totals = na_subframe.agg([na, zero, both]).unstack()
    totals.name = 'Total'
    aggregated = aggregated.append(totals)
    return aggregated.T

In [27]:
missing_stats(df, target_column);

In [28]:
na_stats = missing_stats(df, target_column).unstack().loc[:, (slice(None), 'both')]

In [29]:
na_stats.style.background_gradient(cmap='viridis')

In [30]:
na_more_stats = pd.merge(left=na_stats.droplevel(1, 'columns'), right=variables, left_index=True, right_on='name')

In [31]:
imputable = na_more_stats[na_more_stats['Total'] < 0.4]
imputable

,0,1,Total,name,detail,ignore,dummy,target
42,0.330526,0.383420,0.339458,fs_meat,Number of times ate meat or fish (last week),False,False,False
48,0.370526,0.367876,0.370079,med_portion_sickinjured,Proportion of household sick/injured (1 month),False,False,False

In [32]:
def impute_by_group(dataframe, grouping, imputed_column, transform_fn):
    reference = (dataframe.groupby(by=grouping)[imputed_column].transform(transform_fn))
    
    return dataframe[imputed_column].fillna(reference)

In [33]:
df[imputable['name']] = impute_by_group(df, 'hhsize', imputable['name'], 'median')

In [34]:
df.dropna('columns', inplace=True)

In [35]:
for col in category_columns:
    if col in df:
        df[col] = df[col].astype('category')

In [42]:
dummies = pd.get_dummies(df['day_of_week']).add_prefix('day_')

In [43]:
rest = df.loc[:, :'day_of_week'].iloc[:, :-1]

In [45]:
df = pd.concat([rest, dummies], axis=1)

In [47]:
X = df
y = X.pop(target_column)

In [49]:
X.shape, y.shape

((1143, 48), (1143,))